[Desktop Entry]
Version=1.0
Type=Application
Name=TigerOS postinstall script
Comment=First run post install onfigurations
Exec=Exec=gnome-terminal -e "sudo /usr/local/bin/postinstall" --windows-with-profile="First Run"
Terminal=false
